form {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  background: linear-gradient(to left, #bd09b7, #6b4cf5);
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  font-family: sans-serif;
}

.input,
select {
  padding: 7px;
  width: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-bottom: 10px;
  border: none;
}

button {
  padding: 5px 15px;
  margin-left: 220px;
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
}
